@charset "UFT-8";

$c-cyanPale : hsl(193, 100%, 96%);
$c-cyanDark : hsl(192, 100%, 9%);
$c-grayish-Blue : hsl(208, 11%, 55%);
$c-white : white;
$c-pink : hsl(322, 100%, 66%);
$c-grey: hsl(0, 0%, 52%);
$c-sombraMain: hsl(0, 3%, 92%)