@use "./h-fonts" as F;
@use "./h-colors" as C;
@use "./mixins.scss" as M;
@use "_h-breakPoints" as BP;

.Aside {
    @include M.Grilla(3, 4, 1, 13);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: C.$c-white;
    color: C.$c-cyanDark;
    width: 50vw;
    height: 250px;
    padding: 1rem 0 0 0;
    border-radius: 1rem;
    margin: 0 25vw;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 10px C.$c-grayish-Blue;

    & .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    & .main  h3 {
        @include M.Texto(F.$f-poppins, 2rem, 400, C.$c-cyanDark);
    }

    & .main .button {
        background-color: C.$c-pink;
        color: C.$c-white;
        border: none;
        border-radius: 2rem;
        padding: 1.5rem 5rem 1.25rem 5rem;
        font-family: F.$f-poppins;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
        cursor: pointer;
        box-shadow: 0 7px 20px 0 C.$c-grey;
    }
}


//cuando sea menor 768px
@media screen and (max-width: BP.$breakPoint--md) {
    .Aside {
        width: 90vw;
        text-align: center;
        margin: 0 5vw;
    }
}