@charset "UFT-8";

@use "./_h-fonts" as F;
@use "./mixins.scss" as M;

html{
    @include M.Texto(F.$f-poppins, 1rem, 500, 1);
}

.Body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
}